#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.cell {
  display: flex;
  height: 50px;
  width: 50px;
  border: 2px solid grey;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
}

.board {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.reset {
  margin-top: 20px;
}